<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='/static/css/main.css'>
  <link rel="stylesheet" href="https://unpkg.com/open-props"/>
  <link rel="stylesheet" href="https://unpkg.com/open-props/normalize.min.css"/>


</head>
<body>
  <h1>Thankful</h1>


<div class="container">

 <p class="top-date"> <a class="date-link"  href="/today">Today</a></p> 

    {{range .AvailableDates}}
    <li>
    <a class="date-link" href="{{ .DateURL}}">
    {{ .Date}}
    </a>
    </li>
    {{end}}

    </div>
  </div>
  


  
  
</body>
</html>