<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='/static/css/main.css'>
  <link rel="stylesheet" href="https://unpkg.com/open-props"/>
  <link rel="stylesheet" href="https://unpkg.com/open-props/normalize.min.css"/>
</head>
<body>
<div >
  <h1>Thankful</h1>

<div class="container">
<h4>What are you thankful for today?</h4>
<form  method="POST">
<ul class="input_container">
  <li class="input_item">
  <label for="first_entry">1</label>
  <input name="first_entry"  required="true" id="first_entry" type="text"></input>
  </li>
  <li class="input_item">
  <label for="second_entry">2</label>
  <input name="second_entry" required="true"  id="second_entry" type="text"></input>
  </li>
  <li class="input_item">
  <label for="third_entry">3</label>
  <input name="third_entry" required="true"  id="third_entry" type="text"></input>
  </li>  
  </ul>

  <button class="submit-button">Submit</button>
  </form>
  <a class="date-link"  href="/">Return</a>
    </div>
  </div>
</body>
</html>