<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='/static/css/main.css'>
  <link rel="stylesheet" href="https://unpkg.com/open-props"/>
  <link rel="stylesheet" href="https://unpkg.com/open-props/normalize.min.css"/>
</head>
<body>
<div >
  <h1>Thankful</h1>

<div class="container">
    <p class="thankful-for">Today I Am Thankful For</p>
    {{range .Entries}}
    <li>
    {{.}}
    </li>
    {{end}}
  
  <a class="date-link"  href="/">Return</a>
    </div>
  </div>
</body>
</html>